# STAT 614 PROJECT

Name - Siddharth Patondikar
 
Email - sp9728@rit.edu

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
sns.set()

### Importing the dataset

In [2]:
df = pd.read_csv("data/insurance.csv")
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
#Dataset Rows and Columns count
print(f'Number of rows in data : {df.shape[0]}')
print(f'Number of rows in data : {df.shape[1]}')

Number of rows in data : 1338
Number of rows in data : 7

In [4]:
#Dataset Info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
#Dataset Duplicate Value Count
df.duplicated().value_counts()

False    1337
True        1
Name: count, dtype: int64

In [6]:
#Dropping duplicate row
df = df.drop_duplicates()
df.duplicated().value_counts()

False    1337
Name: count, dtype: int64

In [7]:
#Missing values/Null values count
df.isnull().sum().sort_values(ascending=False)

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

Hence there are no null values in the dataset

## Understanding Variables

In [8]:
df.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [9]:
#Dataset Describe
df.describe()

               age          bmi     children       charges
count  1337.000000  1337.000000  1337.000000   1337.000000
mean     39.222139    30.663452     1.095737  13279.121487
std      14.044333     6.100468     1.205571  12110.359656
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.290000     0.000000   4746.344000
50%      39.000000    30.400000     1.000000   9386.161300
75%      51.000000    34.700000     2.000000  16657.717450
max      64.000000    53.130000     5.000000  63770.428010

### Variables Description

**age** - Age of primary beneficiary

**bmi** - Body mass index, providing an understanding of body, weights that are relatively high or low relative to height

**sex** - Insurance contractor gender, female / male

**children** - Number of children covered by health insurance / Number of dependents

**smoker** - Smoker/Non-Smoker

**region** - The beneficiary's residential area in the US, northeast, southeast, southwest, northwest.

**charges** - (Dependent variable) Individual medical cost billed by health insurance

In [10]:
for col in df.columns.tolist():
  print(f'Unique values in {col} is : {df[col].nunique()}')

Unique values in age is : 47
Unique values in sex is : 2
Unique values in bmi is : 548
Unique values in children is : 6
Unique values in smoker is : 2
Unique values in region is : 4
Unique values in charges is : 1337